<footer class="site-footer" itemscope itemtype="http://schema.org/Organization">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div id="hcard-Talosaarentien-lennokkikenttä-UAS" class="vcard" itemprop="location" itemscope itemtype="http://schema.org/Place">
          <span class="fn n given-name" itemprop="name">Talosaaren lennokkikenttä</span>
          <div class="org" itemprop="parentOrganization" itemscope itemtype="http://schema.org/Organization">
            <span itemprop="name">Vallilan lennokkikerho</span>
          </div>
          <div class="adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <div class="street-address" itemprop="streetAddress">Talosaarentie 108</div>
            <span class="postal-code" itemprop="postalCode">00890</span>
            <span class="locality" itemprop="addressLocality">Helsinki</span>,
            <span class="country-name" itemprop="addressCountry">Finland</span>
          </div>
          <a class="url" href="https://flyk.com/map?drone#14/60.243574/25.178451&p=12.94/60.24385/25.17682" itemprop="url" aria-label="Näytä Talosaarentien lennokkikenttä UAS kartalla">Talosaarentien lennokkikenttä UAS</a>
        </div>
        <div class="contact-info">
          <span itemprop="email"><a href="mailto:vallilanlennokkikerho@gmail.com">vallilanlennokkikerho@gmail.com</a></span>
        </div>
        
      </div>
      <div class="footer-col footer-col-2">
	  
	  <div class="button-container">
        <a class="button-link language-button" href="/rc-airfield/">in English</a>
        <a class="button-link language-button" href="/Modellflygfält/">På Svenska</a>	
      </div>
      
    </div>
  </div>
</footer>

<div style="text-align: right;">
  <button id="scrollToTop" aria-label="Siirry sivun alkuun">
    <img id="darken-on-hover" src="/images/type9.svg" width="131" height="131" alt="Siirry ylös -ikoni">
  </button>
</div>

<style>
  #scrollToTop {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  #scrollToTop:focus {
    outline: 2px solid #005ea2;
  }
  #darken-on-hover:hover,
  #darken-on-hover:focus {
    filter: brightness(0.7);
  }
</style>

<script>
  document.getElementById('scrollToTop').addEventListener('click', function(event) {
    event.preventDefault();
    window.scrollTo({ top: 0, behavior: 'smooth' });
  });
</script>