<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
      </div>

      <div class="footer-col  footer-col-3">
        <ul class="contact-list">
          <li class="text">Lennokkikenttä: Talosaarentie 108, Helsinki</li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://flyk.com/map?drone#14/60.243574/25.178451&p=12.94/60.24385/25.17682">https://flyk.com/map?drone#14/60.243574/25.178451&p=12.94/60.24385/25.17682</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
