@mixin responsive-font-size($base-size, $laptop-size) {
  font-size: $base-size;
  @include media-query($on-laptop) {
    font-size: $laptop-size;
  }
}
/**
 * Site header
 */
.site-header {
  border-top: 5px solid $site-header-border-top-color;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.header-logo-wrapper {
  width: 80px;
  height: 30px;
  vertical-align: middle;
  float: left;
  line-height: 56px;
  margin-right: 1em;
  @include media-query($on-palm) {
    margin-right: 0.5em;
  }
}

.header-logo {
  width: 80px;
  vertical-align: middle;
}

.site-title {
  font-size: 1.625rem; // 26px / 16px
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  @include media-query($on-palm) {
    font-size: 1rem; // 16px / 16px
  }

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;
  position: relative;
  z-index: 1000; // Add a high z-index to ensure menu appears above all content
  margin-right: 20px; // Add space to the right for night mode toggle

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    text-align: right;
    z-index: 1000; // Ensure z-index is applied in mobile view too
    right: 30px;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    /*&:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }*/

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  font-size: 1.625rem; // Match site-title
  letter-spacing: -1px; // Match site-title
  color: $grey-color-dark; // Match site-title light mode color

  @include media-query($on-palm) {
    font-size: 1rem; // Match site-title mobile size
  }
}

.footer-heading {
  font-size: 1.125rem; // 18px / 16px // Keep heading size distinct
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}




.footer-col-wrapper {
  display: flex; /* Flexbox for side-by-side columns */
  flex-wrap: wrap; /* Allow wrapping if needed */
  margin-left: -$spacing-unit / 2; /* Your spacing unit */
  @extend %clearfix; /* For nested floated elements */
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  box-sizing: border-box; /* Ensure padding doesn’t affect width */


}

.footer-col-1 {
  flex: 0 0 calc(60% - (#{$spacing-unit} / 2)); /* 60% width */
  width: calc(60% - (#{$spacing-unit} / 2)); /* Fallback */
}

.footer-col-2 {
  flex: 0 0 calc(40% - (#{$spacing-unit} / 2)); /* 40% width */
  width: calc(40% - (#{$spacing-unit} / 2));
}

[itemprop="name"] {
  display: block; /* New line after the name */
}

[itemprop="streetAddress"] {
  display: block; /* New line after the streetAddress */
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    flex: 0 0 calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    flex: 0 0 calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 1.25rem; // 20px / 16px
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: 0.875rem; // Use calculated rem value from _variables.scss
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 1.5rem; // 24px / 16px
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 2.625rem; // 42px / 16px
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 2.25rem; // 36px / 16px
  }
}

.fpv-topics {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; /* Vertically align items */
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  padding: 0.5em; /* Add some padding */
}

.fpv-topics strong {
  margin-right: 0.5em; /* Add spacing after the text */
}

.button-link.active-link {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    @include responsive-font-size(2.625rem, 2.25rem); // 42px / 16px and 36px / 16px
    letter-spacing: -1px;
    line-height: 1;
  }

  h2 {
    @include responsive-font-size(2rem, 1.75rem); // 32px / 16px and 28px / 16px
  }

  h3 {
    @include responsive-font-size(1.625rem, 1.375rem); // 26px / 16px and 22px / 16px
  }

  h4 {
    @include responsive-font-size(1.25rem, 1.125rem); // 20px / 16px and 18px / 16px
  }
}
