/**
 * Syntax highlighting styles
 */
.highlight {
    background: $code-block-bg-light;
    @extend %vertical-rhythm;

    .c     { color: $syntax-c; font-style: italic } // Comment
    .err   { color: $syntax-err-text; background-color: $syntax-err-bg } // Error
    .k     { font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: $syntax-c; font-style: italic } // Comment.Multiline
    .cp    { color: $syntax-cp; font-weight: bold } // Comment.Preproc
    .c1    { color: $syntax-c; font-style: italic } // Comment.Single
    .cs    { color: $syntax-cp; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: $syntax-gd-text; background-color: $syntax-gd-bg } // Generic.Deleted
    .gd .x { color: $syntax-gd-text; background-color: $syntax-gd-x-bg } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: $syntax-gr } // Generic.Error
    .gh    { color: $syntax-cp } // Generic.Heading
    .gi    { color: $syntax-gi-text; background-color: $syntax-gi-bg } // Generic.Inserted
    .gi .x { color: $syntax-gi-text; background-color: $syntax-gi-x-bg } // Generic.Inserted.Specific
    .go    { color: $syntax-go } // Generic.Output
    .gp    { color: $syntax-gp } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: $syntax-gu } // Generic.Subheading
    .gt    { color: $syntax-gr } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: $syntax-kt; font-weight: bold } // Keyword.Type
    .m     { color: $syntax-m } // Literal.Number
    .s     { color: $syntax-s } // Literal.String
    .na    { color: $syntax-na } // Name.Attribute
    .nb    { color: $syntax-nb } // Name.Builtin
    .nc    { color: $syntax-kt; font-weight: bold } // Name.Class
    .no    { color: $syntax-na } // Name.Constant
    .ni    { color: $syntax-ni } // Name.Entity
    .ne    { color: $syntax-ne; font-weight: bold } // Name.Exception
    .nf    { color: $syntax-ne; font-weight: bold } // Name.Function
    .nn    { color: $syntax-gp } // Name.Namespace
    .nt    { color: $syntax-nt } // Name.Tag
    .nv    { color: $syntax-na } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: $syntax-w } // Text.Whitespace
    .mf    { color: $syntax-m } // Literal.Number.Float
    .mh    { color: $syntax-m } // Literal.Number.Hex
    .mi    { color: $syntax-m } // Literal.Number.Integer
    .mo    { color: $syntax-m } // Literal.Number.Oct
    .sb    { color: $syntax-s } // Literal.String.Backtick
    .sc    { color: $syntax-s } // Literal.String.Char
    .sd    { color: $syntax-s } // Literal.String.Doc
    .s2    { color: $syntax-s } // Literal.String.Double
    .se    { color: $syntax-s } // Literal.String.Escape
    .sh    { color: $syntax-s } // Literal.String.Heredoc
    .si    { color: $syntax-s } // Literal.String.Interpol
    .sx    { color: $syntax-s } // Literal.String.Other
    .sr    { color: $syntax-sr } // Literal.String.Regex
    .s1    { color: $syntax-s } // Literal.String.Single
    .ss    { color: $syntax-ss } // Literal.String.Symbol
    .bp    { color: $syntax-cp } // Name.Builtin.Pseudo
    .vc    { color: $syntax-na } // Name.Variable.Class
    .vg    { color: $syntax-na } // Name.Variable.Global
    .vi    { color: $syntax-na } // Name.Variable.Instance
    .il    { color: $syntax-m } // Literal.Number.Integer.Long
}
